body{
    background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("bg.jpg");
    min-height:100vh;
    width:100%;
    background-position:center;
    background-size:cover;
}
.card {
    transition: transform 0.2s ease;
    box-shadow: 0 4px 6px 0 rgba(33, 33, 43, 0.18);
    border-radius: 0;
    border: 0;
    margin-bottom: 1.5em;
  }
  .card:hover {
    transform: scale(1.1);
  }