@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
*{
    margin-top: 0;
    padding: 0;
}
@media (min-width: 1025px) {
  .h-custom {
    height: 100vh !important;
  }
}